*{
    outline: none;
    border: 0;
    padding: 0;
    list-style: none;

}
main{
    width: 100%;
    position: relative;
    text-align: center;
}
img{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}
a{
    margin: 0 20px;
}
.alb{
    width: 400px;
    border-radius: 0;
}
.panel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.desc{
    text-align: center;
}